*{
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(90deg,#748497,#526173);
}

li {
  list-style: none;
}
 @font-face{
  font-family: yellowtail;
  src: local('yellowtail'), url(./fonts/Yellowtail.zip) format('truetype');
 }
